<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Registrar funcionário</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
  <section>
    <form action="/signup" method="post">
      <h1>Sign Up</h1>
        <div class="inputbox">

            <input type="text" id= "nome" name="nome" required>
            <label for="">Nome</label>
        </div>
        <div class="inputbox">
            <input type="text" id="cpf" name="cpf" required>
            <label for="">Cpf</label>
        </div>
        
        <div class="inputbox">
            <input type="text" id="salario" name="salario" required>
            <label for="">Salário</label>
        </div>
        <div class="inputbox">
            <input type="text" id="cargo" name="cargo" required>
            <label for="">Cargo</label>
        </div>
        <div class="inputbox">
            <input type="login" id="login" name="login" required>
            <label for="">Login</label>
        </div>
        <div class="inputbox">
          <input type="password" id="senha" name="senha" required>
          <label for="">Senha</label>
        </div>
        <div class="inputbox">
            <input type="password" id="senhacon" name="senhacon" required>
            <label for="">Confirmar senha</label>
        </div>
        <button id= "submit" type="submit">Registrar funcionário</button>

    </form>
  </section>
</body>
</html>
<script>
  const submitButttom = document.getElementById("submit");
  submitButttom.addEventListener('click',()=>{
    const nome = document.getElementById('nome').value;
    const cpf = document.getElementById('cpf').value;
    const salario = document.getElementById('salario').value;
    const cargo = document.getElementById('cargo').value;
    const login = document.getElementById('login').value;
    const senha = document.getElementById('senha').value;
    const confirmSenha = document.getElementById('senhacon').value;

    const data ={
      nome, cpf, salario, cargo, login, senha, confirmSenha
    }
    
    if(senha === confirmSenha){
      const jsonData = JSON.stringify(data);
      fetch('/req/signup', {
        method: 'POST',
        headers:{
          'Content-Type': 'application/json'
        },
        body: jsonData
      })
      .then(() =>{
        alert('Funcionário cadastrado com sucesso!');

      })
    }
    
  })

  
</script>